<app-search (searchQuery)="makeSearchRequest($event)"></app-search>

<div *ngIf="weatherService.weatherStatus.loading" class="skeleton">
   <div class="skeleton__item" [style]="{'textAlign': 'center'}">
      <ngx-skeleton-loader
         count="1"
         appearance="circle"
      ></ngx-skeleton-loader>
      <ngx-skeleton-loader
         count="1"
         appearance="line"
         [theme]="{'display': 'block','margin': '10px auto', 'width': '200px'}"
      ></ngx-skeleton-loader>
      <ngx-skeleton-loader
         count="1"
         appearance="line"
         [theme]="{'display': 'block','margin': '10px auto', 'width': '100px'}"
      ></ngx-skeleton-loader>
   </div>

   <div class="skeleton__item">
      <ngx-skeleton-loader
         count="2"
         appearance="line"
         [theme]="{'display': 'block','margin': '10px auto', 'width': '150px'}"
      ></ngx-skeleton-loader>
   </div>

   <div class="skeleton__item" [style]="{'textAlign': 'center'}">
      <ngx-skeleton-loader
         count="1"
         appearance="circle"
      ></ngx-skeleton-loader>
      <ngx-skeleton-loader
         count="1"
         appearance="line"
         [theme]="{'display': 'inline-block', 'width': '50px'}"
      ></ngx-skeleton-loader>

      <ngx-skeleton-loader
         count="1"
         appearance="circle"
      ></ngx-skeleton-loader>
      <ngx-skeleton-loader
         count="1"
         appearance="line"
         [theme]="{'display': 'inline-block', 'width': '50px'}"
      ></ngx-skeleton-loader>
   </div>

   <div class="skeleton__item" [style]="{'textAlign': 'center'}">
      <ngx-skeleton-loader
         count="5"
         appearance="circle"
         [style]="{'display': 'grid', 'gridTemplateColumns': 'repeat(4, 1fr)', 'textAlign': 'center', 'gap': '30px'}"
         [theme]="{'margin': '0 auto'}"
      ></ngx-skeleton-loader>
   </div>
</div>

<article
   *ngIf="weatherService.weatherStatus.completed"
   class="weather"
>
   <div
      class="weather-card"
      [style]="{
   'backgroundImage': 'linear-gradient(-60deg, rgba(0,0,0,0.3), rgba(255,255,255,0.3)), url(' + env.base + 'assets/conditions/' + weatherData.weather.icon.slice(1) + '.jpg)'}"
   >
      <header class="weather-card__header">
         <img
            class="weather-card__header-icon"
            src="https://www.weatherbit.io/static/img/icons/{{weatherData.weather.icon}}.png"
            [alt]="weatherData.weather.code"
         />

         <h2 class="weather-card__title m-0">
            {{weatherData.city_name}}
         </h2>

         <span class="weather-card__header-status">
            {{weatherData.weather.description}}
         </span>
      </header>

      <div class="weather-card__body">
         <div class="weather-card__body-item">
            <p class="weather-card__temperature">
               {{weatherData.temp | number: '1.0-0'}}
            </p>

            <div class="weather-card__temperature-right">
               <span class="weather-card__temperature-units">
                  °C
               </span>
               <p class="weather-card__feelslike">
                  Feels like {{weatherData.app_temp}}°
               </p>
            </div>
         </div>

         <div class="weather-card__duration">
            <div class="weather-card__duration-item">
               <img
                  class="weather-card__duration-img"
                  [src]="env.base + 'assets/sunrise.svg'"
                  alt=""
               />
               <span class="weather-card__duration-caption"
                  >sunrise</span
               >
               <time class="weather-card__duration-time">
                  {{weatherData.sunrise}}
               </time>
            </div>

            <div class="weather-card__duration-item">
               <img
                  class="weather-card__duration-img"
                  [src]="env.base + 'assets/sunset.svg'"
                  alt=""
               />
               <span class="weather-card__duration-caption"
                  >sunset</span
               >
               <time class="weather-card__duration-time">
                  {{weatherData.sunset}}
               </time>
            </div>
         </div>
      </div>

      <footer class="weather-card__footer">
         <div class="weather-card__details">
            <div class="weather-card__details-item">
               <img
                  class="weather-card__details-icon"
                  [src]="env.base + 'assets/wind.svg'"
                  alt=""
               />
               <p class="weather-card__details-text">Wind</p>
               <p class="weather-card__details-value">
                  {{weatherData.wind_spd}} m/s
               </p>
            </div>
            <div class="weather-card__details-item">
               <img
                  class="weather-card__details-icon"
                  [src]="env.base + 'assets/humidity.svg'"
                  alt=""
               />
               <p class="weather-card__details-text">Humidity</p>
               <p class="weather-card__details-value">
                  {{weatherData.rh}} %
               </p>
            </div>
            <div class="weather-card__details-item">
               <img
                  class="weather-card__details-icon"
                  [src]="env.base + 'assets/visibility.svg'"
                  alt=""
               />
               <p class="weather-card__details-text">Visibility</p>
               <p class="weather-card__details-value">
                  {{weatherData.vis | number: '1.0-2'}} km
               </p>
            </div>
            <div class="weather-card__details-item">
               <img
                  class="weather-card__details-icon"
                  [src]="env.base + 'assets/pressure.svg'"
                  alt=""
               />
               <p class="weather-card__details-text">Pressure</p>
               <p class="weather-card__details-value">
                  {{weatherData.pres}} mb
               </p>
            </div>
         </div>
      </footer>
   </div>

   <div *ngIf="forecast" class="weather__forecast weather-forecast">
      <h2 class="weather-forecast__title">
         Forecast
      </h2>

      <swiper
         [slidesPerView]="'auto'"
         [freeMode]="true"
         [grabCursor]="true"
         [spaceBetween]="30"
         class="weather-forecast__days list-reset"
      >
         <ng-container *ngFor="let dayForecast of forecast.data">
            <ng-template swiperSlide>
               <div class="weather-forecast__day">
                  <time
                     class="weather-forecast__time"
                     [dateTime]="dayForecast.valid_date"
                  >
                     <span class="weather-forecast__time-weekday"
                        >{{dayForecast.valid_date | date:
                        "ccc"}}</span
                     >
                     <span class="weather-forecast__time-monthday"
                        >{{dayForecast.valid_date | date: "dd
                        MMM"}}</span
                     >
                  </time>

                  <p class="weather-forecast__day-status">
                     {{dayForecast.weather.description}}
                  </p>

                  <div class="weather-forecast__day-footer">
                     <img
                        class="weather-forecast__day-image"
                        [src]="'https://www.weatherbit.io/static/img/icons/' + dayForecast.weather.icon + '.png'"
                        alt=""
                     />

                     <p class="weather-forecast__day-temperature">
                        {{dayForecast.temp | number: "1.0-0"}}°
                     </p>
                  </div>
               </div>
            </ng-template>
         </ng-container>
      </swiper>
   </div>
</article>
