@use "sass:math";

@import "../../../scss/base";
@import "../../../scss/mixins";

.weather {
   margin: 30px 0;
}

.weather-card {
   --border-value: 25px;

   position: relative;
   z-index: 2;
   display: grid;
   border-radius: var(--border-value) var(--border-value) 0 0;
   padding: 30px;
   background-image:
      linear-gradient(-60deg, rgba(#023047, 0.3), rgba(#fff, 0.3)),
      url("../../../assets/conditions/01d.jpg");
   background-size: cover;
   background-repeat: no-repeat;
   gap: 40px;

   &::before {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      z-index: -1;
      background-color: rgb(var(--color-white) 0.6);
   }

   &__header {
      display: flex;
      flex-direction: column;
      align-items: center;

      &-icon {
         width: 60px;
         height: 60px;
      }
   }

   &__title {
      @include adaptiveValue("font-size", 64, 48);
   }

   &__body {
      &-item {
         display: flex;
         justify-content: center;
      }
   }

   &__duration {
      display: flex;
      justify-content: center;
      gap: 30px;

      &-item {
         display: grid;
         align-items: center;
         gap: 10px;
      }

      &-img {
         grid-row: 1 / 3;
      }

      &-caption {
         display: block;
         font-size: 14px;
         text-transform: uppercase;
      }

      &-time {
         grid-column: 2 / 3;
         font-size: 24px;
      }
   }

   &__temperature {
      margin-right: 10px;

      @include adaptiveValue("font-size", 100, 64);

      &-units {
         @include adaptiveValue("font-size", 48, 24);
      }
   }

   &__details {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(70px, 1fr));

      @include adaptiveValue("gap", 30, 20);

      &-item {
         text-align: center;
      }

      &-icon {
         margin-bottom: 10px;
      }

      &-text {
         margin-bottom: 5px;
      }
   }

   &__feelslike {
      margin-top: 17%;
   }
}

.skeleton {
   display: grid;
   margin: 30px 0;
   gap: 40px;
}

.weather-forecast {
   --border-value: 25px;

   border-radius: 0 0 var(--border-value) var(--border-value);
   padding: 30px;
   background-color: var(--color-white);

   &__title {
      margin-bottom: 20px;
      font-weight: 600;
      font-size: 24px;
      color: var(--color-dark);
   }

   &__days {
      display: flex;
      gap: 30px;
   }

   &__day {
      display: flex;
      flex-direction: column;
      align-items: center;
      border-radius: 15px;
      padding: 10px 20px;
      height: 100%;
      box-sizing: border-box;
      text-align: center;
      background-color: var(--color-dark);

      &-footer {
         margin-top: auto;
      }
   }

   &__time {
      margin-bottom: 15px;
   }

   &__time-weekday {
      display: block;
      margin-bottom: 5px;
      text-transform: uppercase;

      @include adaptiveValue("font-size", 24, 20);
   }

   &__time-monthday {
      font-size: 14px;
      color: #b3b3b3;
   }

   &__day-status {
      margin-bottom: 5px;
   }

   &__day-image {
      margin-bottom: 5px;
      width: 50px;
      height: 50px;
   }

   &__day-temperature {
      font-size: 24px;
   }
}

@media (max-width: 480px) {
   .weather-card,
   .weather-forecast {
      padding: 20px;
   }
}
