<form (ngSubmit)="searchSubmitHandler($event)" class="search-form">
   <mat-form-field
      class="search-form__field"
      appearance="fill"
      [floatLabel]="getFloatLabelValue()"
   >
      <mat-label class="search-form__label">Enter your city</mat-label>
      <input
         matInput
         placeholder="Location search"
         [formControl]="search"
         class="search-form__input"
         required
      />
      <button
         mat-button
         matSuffix
         mat-icon-button
         aria-label="Clear"
         type="button"
         (click)="search.reset()"
      >
         <mat-icon>close</mat-icon>
      </button>
      <mat-error *ngIf="weatherService.weatherStatus.error"
         >Something went wrong, please try again</mat-error
      >
   </mat-form-field>

   <button
      mat-fab
      [color]="search.invalid ? 'warn': 'accent'"
      aria-label="Example icon button with a bookmark icon"
      (submit)="searchSubmitHandler($event)"
      class="search-form__button"
   >
      <mat-icon>search</mat-icon>
   </button>
</form>
