@import "~@angular/material/prebuilt-themes/purple-green.css";
@import "~@angular/material/theming";

@include mat-core;

$custom-theme-primary: mat-palette($mat-light-blue);
$custom-theme-accent: mat-palette($mat-blue, "A200", "A100", "A400");
$custom-theme-warn: mat-palette($mat-red);
$custom-theme: mat-light-theme($custom-theme-primary, $custom-theme-accent, $custom-theme-warn);

@function my-mat-dark-theme-foreground($color, $text-color) {
   @return (
      base: $text-color,
      divider: $color,
      dividers: $color,
      disabled: $color,
      disabled-button: rgba($text-color, 0.26),
      disabled-text: $color,
      hint-text: $text-color,
      secondary-text: $color,
      icon: rgba($text-color, 0.54),
      icons: rgba($text-color, 0.54),
      text: $color,
      slider-min: $text-color,
      slider-off: rgba($text-color, 0.26),
      slider-off-active: rgba($text-color, 0.38)
   );
}

$dark-foreground: my-mat-dark-theme-foreground(#8ecae6, #023047);
$my-app-theme-custom:
   map-merge(
      $custom-theme,
      (
         foreground: $dark-foreground,
      )
   );

@include angular-material-theme($my-app-theme-custom);
